.browsing {
    width: 80%;
    background-color: #05161c;
    color: white;
    margin: 64px auto;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 5px 3px 0 rgba(0, 0, 0, 0.2);
}

.browsing_div1 {
    display: inline;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.browsing_div1 > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

#browse_header {
    color: #ef882d;
}

.browsing_checkbox-container > h3 + input {
    margin-left: 20px;
    height: 50px;
    width: 50px;
}

.browsing_animals-inner-container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    height: 140px;
    background-color: #40a7e2;
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
}

.browsing_animals-inner-container link {
    text-decoration: none;
}


.browsing_animals-inner-container link:hover {
    color: red;
    text-decoration: none;
}